{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row">
            <form action="{{ path('login') }}" method="post" class="col-sm-6 offset-sm-3">
                <div class="row form-group">
                    <label for="username" class="col-sm-3">Identifiant :</label>
                    <div class="col-sm-7">
                        <input  type="text" id="username" name="_username" value="{{ last_username }}"
                                placeholder="E-Mail de l'ENI" class="form-control"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="password" class="col-sm-3">Mot de passe :</label>
                    <div class="col-sm-7">
                        <input  type="text" id="password" name="_password"
                                placeholder="Mot de passe" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me" class="form-check-inline">Remember me</label>
                    </div>
                    <div>
                        <a href="">Mot de passe oublié ?</a>
                    </div>
                </div>

                {% if error %}
                    <div>
                        <ul>
                            <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                        </ul>
                    </div>
                {% endif %}

                <button   type="submit">Connexion</button>
            </form>
    </div>
{% endblock %}
