@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: lightgray;
}
.container-fluid {
    padding: 0;
}


.imageSortir {
    width: 100px;
    height: 110px;
    padding-top: 10px;
}

.imageUser {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    right: 10px;
    position: absolute;
}


