@import "~bootstrap/dist/css/bootstrap.css";

/* GLOBAL */
.container-fluid {
    padding: 0;
}

.row{
    margin-left: 0;
}

.table-hover{
    cursor: pointer;
}

/* HEADER */
.imageSortir {
    width: 4em;
}

.imageUser {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    right: 10px;
    position: absolute;
}

/* FOOTER */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* CONNEXION */
#formulaireContainer {
    margin-top: 150px;
}

#btnConnexion {
    margin-top: 1em;
}

/* CREER SORTIE */

#creerSortieContainer{
    margin: 2em 0;
    width: 100%;
}

#creerSortie-btnGroupe {
    margin: 1em auto;
}

#creerSortie-btnGroupe .btn {
    margin: 0 1em;
    padding: 0.3em 1em;
}

/*MODIFIER SORTIE*/
#btnBackModifierSortie{
    margin-top: 2em;
}

/* AFFICHER SORTIE */
 #inscriptionsTable {
     height: 15em;
     overflow-y: scroll;
 }

/* GERER SITES */
.deleteLink{
    cursor: pointer;
    color: red;
}

.deleteLink:hover{
    text-decoration: underline;
}

/* MODIFIER SITE */

#modifierSiteContainer{
    margin: 2em 0;
    width: 100%;
}

/* MODIFIER PROFIL */

#modifierProfilContainer{
    margin: 2em 0;
    width: 100%;
}

#modifierProfil-btnGroupe {
    margin: 1em auto;
}