@import "~bootstrap/dist/css/bootstrap.css";

.container-fluid {
    padding: 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.imageSortir {
    width: 100px;
    height: 110px;
    padding-top: 10px;
}

.imageUser {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    right: 10px;
    position: absolute;
}

#formulaireContainer {
    margin-top: 150px;
}

#btnConnexion {

    margin-top:1em;
}

